.Header-logo {
  margin-top: 25px;
  width: 87px;
  height: 87px;
  object-fit: contain;
  animation: Logo-shake 1 1.5s linear;
}

.Header {
  width: 100%;
  min-height: 200px;
  background-color: #ffffff;
  box-shadow: 0 3px 16px 0 #d4d8ff;
  text-align: center;
}

.Header-title {
  object-fit: contain;
  font-family: Avenir-Black;
  font-size: 12px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #5c45a0;
}

@keyframes Logo-shake {
  0% { transform: rotate(0deg); }
  33% { transform: rotate(20deg); }
  66% { transform: rotate(-20deg); }
  100% { transform: rotate(0deg); }
}
