.Routes {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Avenir-Medium;
}

.Routes__info {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.4px;
  text-align: left;
  color: #2e2e2e;
  padding: 30px 10px 0 10px;
  width: 80%;
}

.Routes__location {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.4px;
  text-align: left;
  color: #2e2e2e;
  width: 80%;
}

.Routes__location__platform {
  margin-left: 10px;
  padding: 0 5px 0 7px;
  border: 1px solid #2e2e2e;
  border-radius: 3px;
}

.Routes__times {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Routes__times__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 64px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 3px 16px 0 #d7dbff;
  margin: 10px;
}

.Routes__times__box__left {
  display: flex;
  flex: 2;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: Avenir-Medium;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #2e2e2e;
  margin-left: 10px;
}

.Routes__times__box__shortName {
  font-size: 14px;
  padding-left: 10px;
}

.Routes__times__box__direction {
  padding-left: 10px;
}

.Routes__times__box__right {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}

.Routes__times__box__time {
  font-family: Avenir-Medium;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.3px;
  text-align: left;
  color: #2e2e2e;
  white-space: nowrap;
}
