.SearchAddress {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.SearchAddress__textField {
  position: relative;
  width: 90%;
}

.SearchAddress__location__svg {
  height: 20px;
  fill: #5c45a0;
  padding: 10px;
  position: absolute;
  top: 11px;
  left: 10px;
  z-index: 1;
}

.SearchAddress #PlacesAutocomplete__root {
  width: 100%;
  position: relative;
}

.SearchAddress #PlacesAutocomplete__root::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '';
  width: 94%;
  height: 1px;
  background: #5c45a0;
  position: absolute;
  bottom: 10px;
  left: 20px;
 }

.SearchAddress input {
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 3px 10px 0 #d7dbff;
  border: none;
  height: 60px;
  width: 100%;
  font-size: 14px;
  font-family: Avenir-Medium;
  text-indent: 45px;
}

.SearchAddress textarea:focus, input:focus, button:focus {
    outline: none;
    background-color: #eef0ff;
}

.SearchAddress input::placeholder {
  color: #000000;
  opacity: 0.5;
}

/* dropdown field */
.SearchAddress > form > div > div {
  background-color: rgba(0, 0, 0, 0.7) !important;
  border: none !important;
  border-radius: 25px !important;
}

.SearchAddress > form > div > div > div {
  background-color: transparent !important;
  color: #d1d8e0 !important;
  border-radius: 25px !important;
}

#PlacesAutocomplete__autocomplete-container {
  border-radius: 10px;
  border: solid #d1d8e0 1px !important;
  overflow: hidden;
}
