.SearchAddress {
  position: fixed;
  top: 130px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.SearchAddress__textField {
  position: relative;
  width: 90%;
  height: 60px;
  margin: 10px 10px 0 10px;
}

.SearchAddress__location__svg {
  height: 20px;
  fill: #5c45a0;
  position: absolute;
  top: 12px;
  left: 8px;
  z-index: 1;
  padding: 1px;
}

.SearchAddress__delete__svg {
  height: 15px;
  width: 15px;
  fill: #5c45a0;
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 1;
  padding: 1px;
}

.SearchAddress__manual__button {
  position: absolute;
  top: -33px;
  right: 3px;
  margin: 0 10px;
}

.SearchAddress__locate__button {
  position: absolute;
  top: -33px;
  left: 3px;
  margin: 0 10px;
}

.SearchAddress__manual__svg,
.SearchAddress__locate__svg {
  height: 20px;
  fill: #5c45a0;
}

.SearchAddress #PlacesAutocomplete__root {
  width: 100%;
  position: relative;
}

.SearchAddress #PlacesAutocomplete__root::after {
  content: '';
  width: 92%;
  height: 1px;
  background: #5c45a0;
  position: absolute;
  bottom: 10px;
  left: 4%;
 }

.SearchAddress__search__input {
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 3px 10px 0 #d7dbff;
  border: none;
  height: 50px;
  width: 100%;
  font-size: 14px;
  font-family: Avenir-Medium, sans-serif;
  padding: 0 40px;
  text-overflow: ellipsis;
}

.SearchAddress__search__input--error {
  background-color: #fad1e4 !important;
  animation: pulse 1s normal forwards ease-in-out;
}

.SearchAddress textarea:focus, input:focus, button:focus {
  outline: none;
  background-color: #eef0ff;
}

.SearchAddress input::placeholder {
  color: #000000;
  opacity: 0.5;
}

/* dropdown field */
.SearchAddress__dropdown__container {
  background-color: #fff;
  border-radius: 10px !important;
  box-shadow: 0 3px 10px 0 #d7dbff;
}

.SearchAddress__dropdown__container > .suggestion-item {
  border: none !important;
  border-radius: 25px !important;
  padding: 10px;
  overflow: hidden;
}

.SearchAddress__dropdown__container > .suggestion-item--active {
  background-color: rgba(215, 219, 255, 0.3) !important;
  padding: 10px;
  border-radius: 10px !important;
  overflow: hidden;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(175,18,90, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(175,18,90, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(175,18,90, 0);
  }
}