.SearchAddress {
  padding-bottom: 20px;
}

.SearchAddress > form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
}

.SearchAddress > form > div {
  flex-grow: 3;
  display: inline-block;
}

.SearchAddress input {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 25px 0 0 25px;
  width: 100% !important;
  padding: 10px 0 10px 0 !important;
  font-size: 18px;
  color: #000000;
  text-indent: 16px;
}

.SearchAddress__button {
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 25px 25px 0;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 15%;
  font-size: 18px;
  color: #000000;
}

.SearchAddress textarea:focus, input:focus, button:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.SearchAddress input::placeholder {
  color: #000000;
  opacity: 0.5;
}

/* dropdown field */
.SearchAddress > form > div > div {
  background-color: rgba(0, 0, 0, 0.7) !important;
  border: none !important;
  border-radius: 25px !important;
}

.SearchAddress > form > div > div > div {
  background-color: transparent !important;
  color: #d1d8e0 !important;
  border-radius: 25px !important;
  margin-left: 5px;
}

#PlacesAutocomplete__autocomplete-container {

}
