.Vehicle {
  position: relative;
}

.Vehicle__icon__svg {
  height: 30px;
}

.Vehicle__heart__svg {
  width: 100%;
  position: absolute;
  justify-content: center;
  display: flex;
  height: 8px;
  top: -10px;
}

.Vehicle--BUS .Vehicle__heart__svg path {
  fill: #68c1fd !important;
}

.Vehicle--BUS .Vehicle__icon__svg path {
  fill: #68c1fd !important;
}

.Vehicle--TRAM .Vehicle__heart__svg path {
  fill: #00cc7e !important;
}

.Vehicle--TRAM .Vehicle__icon__svg path {
  fill: #00cc7e !important;
}

.Vehicle--SUBWAY .Vehicle__heart__svg path {
  fill: #ffa880 !important;
}

.Vehicle--SUBWAY .Vehicle__icon__svg path {
  fill: #ffa880 !important;
}

.Vehicle--RAIL .Vehicle__heart__svg path {
  fill: #b373bf !important;
}

.Vehicle--RAIL .Vehicle__icon__svg path {
  fill: #b373bf !important;
}

.Vehicle--FERRY .Vehicle__heart__svg path {
  fill: #68e1fd !important;
}

.Vehicle--FERRY .Vehicle__icon__svg path {
  fill: #68e1fd !important;
}
