.Warning {
  position: absolute;
  display: flex;
  width: 100%;
  color: #b38c00;
}

.Warning__icon {
  fill: #b38c00;
  padding: 3px 8px 0 8px;
}

.Warning__button__svg {
  fill: #cb9f01;
  width: 15px;
  height: 15px;
  margin: 15px;
}

.Warning__box {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.Warning__box__content {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  margin: 8px;
  padding: 5px;
  background: rgba(255, 238, 179, 0.7);
  border-radius: 3px;
  font-size: 12px;
  z-index: 20;
}

.Warning__icon__svg {
  width: 18px;
  height: 18px;
  margin: 0 4px 0 2px;
}
