.App {
  text-align: center;
  background: linear-gradient(#0fb9b1, #8854d0);
  background-attachment: fixed;
  min-height: 100%;
}

.App-logo {
  animation: Logo-shake 1 1.5s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: #222;
}

.App-intro {
  font-size: large;
}

@keyframes Logo-shake {
  0% { transform: rotate(0deg); }
  33% { transform: rotate(20deg); }
  66% { transform: rotate(-20deg); }
  100% { transform: rotate(0deg); }
}
