body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir-Medium', sans-serif;
  height: 100%;
}

html, #root {
  height: 100%;
}

@font-face {
  font-family: Avenir-Medium;
  src: url('./assets/Avenir-Medium.ttf')
}

@font-face {
  font-family: Avenir-Blac;
  src: url('./assets/Avenir-Black.ttf')
}
