.SearchAddress > form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
}

.SearchAddress > form > div {
  flex-grow: 2;
  display: inline-block;
}

.SearchAddress input {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 25px 0 0 25px;
  width: 100% !important;
  padding: 10px 0 10px 15px !important;
  margin: 0 -15px;
  font-size: 18px;
}

.SearchAddress__button {
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 25px 25px 0;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  margin: 0;
  margin-left: 8px;
  width: 15%;
  font-size: 18px;
}

.SearchAddress textarea:focus, input:focus, button:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
}
