.Stops {
  height: 100%;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.Stops__loading {
  text-align: center;
}

.Stops__empty {
  text-align: center;
  padding: 20px;
  font-size: 30px;
}